[submodule "third_party/tasm"]
	path = third_party/tasm
	url = https://github.com/zajo/TASM
[submodule "third_party/kvikdos"]
	path = third_party/kvikdos
	url = https://github.com/ddanila/kvikdos.git
	branch = improvements
